/* CSS files add styling rules to your content */
h1 {
  color: blue;
}

.navbar {
  display: flex;
  border-color: black;
  border-style: solid; 
  justify-content: space-between;
}

.navbar a {
  color: red;
}

.respect {
  font-family: Karla;
  font-size: 40px;
}

img {
  border: 2px dotted blue;
  padding: 9px;
  margin: 100px;
}